@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;900&display=swap");
body,
html {
  height: 100%;
  overflow: hidden;
}

body {
  background-color: #fde9e4;
  background-image: linear-gradient(#fa9f8b 3.1px, transparent 3.1px), linear-gradient(to right, #fa9f8b 3.1px, #fde9e4 3.1px);
  background-size: 62px 62px;
  font-family: "Lato", sans-serif;
}

.sign-container {
    display: grid;
    /* grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    height: 100%;
    width: 100%;
    justify-items: center;
    align-items: center;
    overflow: hidden; */
}

.sign {
  margin: 5px auto auto;
  padding: 1em;
  border: 1px solid #fac2b5;
  box-shadow: 5px 5px rgba(250, 194, 181, 0.8);
  background: url(https://assets.codepen.io/242759/felt.jpeg) 0 0/10em 10em, #fef5f1;
  background-blend-mode: hard-light;
  color: #f74a54;
  text-align: center;
}
.sign h1,
.sign h2,
.sign h3 {
  text-transform: uppercase;
  letter-spacing: 3px;
}
.sign h1 {
  font-size: 3em;
  margin: 0;
}
.sign h2 {
  margin-bottom: 0;
}
.sign h3 {
  margin: 0;
  text-transform: uppercase;
  letter-spacing: 3.5px;
  font-size: 1.4em;
  font-weight: 400;
}
.sign ol {
  padding: 0;
  list-style-type: none;
  line-height: 1.5;
  letter-spacing: 1px;
}
.sign::after {
  display: block;
  content: "";
  position: fixed;
  left: 0;
  width: 100vw;
  height: 40vh;
  max-height: 100px;
  background: rgba(197, 233, 252, 0.7);
  animation: 4s tide ease-in infinite;
}
.sign::before {
  display: block;
  content: "";
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 30vh;
  max-height: 170px;
  background-color: #fde9e4;
  background-image: linear-gradient(#fa9f8b 5px, transparent 5px), linear-gradient(to right, #fa9f8b 5px, #ffc2b3 5px);
  background-size: 80px 30px;
}

@keyframes tide {
  0% {
    bottom: -5px;
    transform: rotate(0.5deg);
  }
  25% {
    bottom: -10px;
  }
  50% {
    bottom: 0;
    transform: rotate(-0.5deg);
  }
  75% {
    bottom: -10px;
  }
  100% {
    bottom: -5px;
    transform: rotate(0.5deg);
  }
}