@font-face {
    font-family: 'Bebas Neue';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/bebasneue/v9/JTUSjIg69CK48gW7PXooxW4.ttf) format('truetype');
  }
  body {
    font-family: 'Bebas Neue', sans-serife;
    /* background: #111111; */
  }
  .wrap {
    display: flex;
    margin-bottom: 5vh;

  }
  .split-flap {
    display: inline-block;
  }
  .wrap .split-flap {
    position: relative;
    /* display: inline-block; */
    margin-right: 10px;
    width: 90px;
    height: 120px;
    background: #111111;
  }
  @media screen and (max-width: 768px) {
    .wrap .split-flap {
      width: 30px;
      height: 40px;
    }
  }
    
  }
  .wrap .split-flap .inner-shadow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 3;
    box-shadow: inset 0 0 6px #000000;
  }
  .wrap .split-flap .card {
    z-index: 2;
    backface-visibility: hidden;
    transform-origin: center bottom;
    transform: scale(0.999999);
    transform-style: preserve-3d;
    position: absolute;
    box-sizing: border-box;
    top: 9%;
    width: 90%;
    left: 5%;
    height: 40%;
    background: #333333;
    overflow: hidden;
    letter-spacing: 0px;
  }
  .wrap .split-flap .card .letter {
    backface-visibility: hidden;
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    padding-top: 4%;
    height: 200%;
    line-height: 100%;
    font-size: 100px;
    text-align: center;
    color: white;
  }
  @media screen and (max-width: 768px) {
    .wrap .split-flap .card .letter {
      font-size: 33px;
    }
  }
    
  }
  .wrap .split-flap .card.top {
    z-index: 1;
  }
  .wrap .split-flap .card.bottom {
    z-index: 1;
  }
  .wrap .split-flap .card.bottom,
  .wrap .split-flap .card.back {
    top: 51%;
  }
  .wrap .split-flap .card.bottom .letter,
  .wrap .split-flap .card.back .letter {
    margin-top: -59%;
  }
  .wrap .split-flap .card.back {
    transform: rotate3d(1, 0, 0, 180deg) translateY(-1%);
    transform-origin: center top;
  }
  .wrap .split-flap.do-flap .card.front {
    transform: rotate3d(1, 0, 0, -180deg) translateY(1%);
    transform-origin: center bottom;
  }
  .wrap .split-flap.do-flap .card.back {
    transform: rotate3d(1, 0, 0, 0deg);
    transform-origin: center top;
  }
  