:root {
    --spritwoch-green: #107C3E;
    --spritwoch-green-light: #cfedc2;
    --spritwoch-green-shadow: #107c3fc2;
    --spritwoch-red: #BC2025;
    --spritwoch-red-light: #f7bbbb; 
    /* Old light red: #ffc2b3 */
}
@font-face {
  font-family: "Bebas Neue";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/assets/font/Bebas_Neue/BebasNeue-Regular.ttf)
    format("truetype");
}

@font-face {
    font-family: "Lato";
    font-style: normal;
    font-weight: 400;
    src: url(/assets/font/Lato/Lato-Regular.ttf);
}
@font-face {
    font-family: "Lato";
    font-style: bold;
    font-weight: 900;
    src: url(/assets/font/Lato/Lato-Bold.ttf);
}

html {
  height: 100%;
  overflow: hidden;
}
body {
  font-family: "Bebas Neue", sans-serif;
  background-color: #fde9e4;
  background-image: linear-gradient(var(--spritwoch-green) 3.1px, transparent 3.1px),
    linear-gradient(to right, var(--spritwoch-green) 3.1px, var(--spritwoch-green-light) 3.1px);
  background-size: 62px 62px;
}
.countdown-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* margin-top: 10vh; */
}
.wrap {
  background-color: #000;
  padding: 0.5em 1em;
  /* border-image: linear-gradient(to right,#555, #000) 1 100%;
    border-width: 10px;
    border-style: solid; */
  box-shadow: var(--spritwoch-green-shadow) 8px 8px 0px 0px;
}
.wrap .split-flap {
  position: relative;
  display: inline-block;
  width: 9%;
  padding-bottom: 12%;
  margin: 0px 0.5%;
  background: #111111;
}
.wrap .split-flap .inner-shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 3;
  box-shadow: inset 0 0 6px #000000;
}
.wrap .split-flap .card {
  z-index: 2;
  backface-visibility: hidden;
  transform-origin: center bottom;
  transform: scale(0.999999);
  transform-style: preserve-3d;
  position: absolute;
  box-sizing: border-box;
  top: 9%;
  width: 90%;
  left: 5%;
  height: 40%;
  background: #333333;
  overflow: hidden;
  letter-spacing: 0px;
}
.wrap .split-flap .card .letter {
  backface-visibility: hidden;
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  padding-top: 4%;
  height: 200%;
  line-height: 100%;
  font-size: 100px;
  text-align: center;
  color: white;
}
.wrap .split-flap .card.top {
  z-index: 1;
}
.wrap .split-flap .card.bottom {
  z-index: 1;
}
.wrap .split-flap .card.bottom,
.wrap .split-flap .card.back {
  top: 51%;
}
.wrap .split-flap .card.bottom .letter,
.wrap .split-flap .card.back .letter {
  margin-top: -59%;
}
.wrap .split-flap .card.back {
  transform: rotate3d(1, 0, 0, 180deg) translateY(-1%);
  transform-origin: center top;
}
.wrap .split-flap.do-flap .card.front {
  transform: rotate3d(1, 0, 0, -180deg) translateY(1%);
  transform-origin: center bottom;
}
.wrap .split-flap.do-flap .card.back {
  transform: rotate3d(1, 0, 0, 0deg);
  transform-origin: center top;
}

/* @media screen and (max-width: 480px) {
    .wrap {
        padding: 0.2em 0.5em;
        box-shadow: var(--spritwoch-green-shadow) 4px 4px 0px 0px;
    }
    .wrap .split-flap {
        width: 21px;
        height: 28px;
        margin: 0px 1px;
      }
      .wrap .split-flap .card .letter {
        font-size: 24px;
      }
} */

@media screen and /*(min-width: 481px) and */ (max-width: 768px) {
    .desktop {
        display: none;
    }
    .mobile {
        display: flex;
    }
    /* .spritwoch-sign {
        margin-bottom: 5vh;
    } */
    .spritwoch-sign img{
        max-width: 80vw;
        padding: 10px;
    }
    .sign-container {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto auto;
    }
    .wrap {
        width: 70%;
    }
    .wrap .split-flap {
        /* width: 9%;
        padding-bottom: 12%;
        margin: 0px 0.5%; */
      }
  .wrap .split-flap .card .letter {
    font-size: 7.5vw;
  }
}
/* @media screen and (min-width: 481px) and (max-width: 768px) {
    .wrap .split-flap {
        width: 30px;
        height: 40px;
        margin: 0px 2px;
      }
      .wrap .split-flap .card .letter {
        font-size: 33px;
      }
} */

@media screen and (min-width: 769px) /* and (max-width: 1200px) */ {
    .mobile {
        display: none;
    }
    .desktop {
        display: flex;
    }
    .sign-container {
        display: grid;
        grid-template-columns: auto auto auto;
        grid-template-rows: auto;
    }
    .spritwoch-sign img {
        max-width: 180px;
    }
    .wrap {
        width: 80%;
    }
    .wrap .split-flap {
        /* width: 9%;
        padding-bottom: 12%;
        margin: 0px 0.5%; */
      }
  .wrap .split-flap .card .letter {
    font-size: 8.4vw;
  }
}

@media screen and (min-width: 1201px) {
    /* Limit grid with to 80vw */
    .grid-container {
        width: 80vw;
        margin: 0px 10vw;
    }
    /* Correct split-flap font size */
  .wrap .split-flap .card .letter {
    font-size: 6.7vw;
  }
}

/* Pool Rules Sign */
.sign-container {
  display: grid;
  /* grid-template-columns: auto auto auto; */
  margin-top: 5vh;
}

.spritwoch-sign {
    /* display: flex; */
    justify-content: center;
    align-items: center;
    /* grid-area: left; */
    /* margin-right: 5vw;
    margin-left: 5vw;*/
    width: 100%;
}

.spritwoch-sign img {
    height: auto;
    box-shadow: 5px 5px var(--spritwoch-green-shadow);
    /* background-color: #fff; */
    background: url(/assets/image/felt.jpeg) 0 0/10em 10em,
    #fef5f1;
    background-blend-mode: hard-light;
    border-radius: 15px;
    border: 1px solid var(--spritwoch-red-light);
}

.sign {
  font-family: "Lato", sans-serif;
  margin: 5px auto auto;
  padding: 1em;
  border: 1px solid var(--spritwoch-red-light);
  box-shadow: 5px 5px var(--spritwoch-green-shadow);
  background: url(/assets/image/felt.jpeg) 0 0/10em 10em,
    #fef5f1;
  background-blend-mode: hard-light;
  color: var(--spritwoch-red);
  text-align: center;
}
.sign h1,
.sign h2,
.sign h3 {
  text-transform: uppercase;
  letter-spacing: 3px;
}
.sign h1 {
  font-size: 3rem;
  margin: 0;
}
.sign h2 {
  margin-bottom: 0;
}
.sign h3 {
  margin: 0;
  text-transform: uppercase;
  letter-spacing: 3.5px;
  font-size: 1.4em;
  font-weight: 400;
}
@media screen and (max-width: 480px) {
    .sign h1 {
      font-size: 1.5em;
    }
    .sign h2 {
      font-size: 1em;
    }
    .sign h3 {
      font-size: 1em;
    }
    .sign ol {
      font-size: 0.7rem;
    }
  }

@media screen  and (min-width: 481px) and (max-width: 768px) {
  .sign h1 {
    font-size: 2em;
  }
  .sign h2 {
    font-size: 1.5em;
  }
  .sign h3 {
    font-size: 1em;
  }
  .sign ol {
    font-size: 1rem;
  }
}

.sign ol {
  padding: 0;
  list-style-type: none;
  line-height: 1.5;
  letter-spacing: 1px;
}
.sign::after {
  display: block;
  content: "";
  position: fixed;
  left: 0;
  width: 100vw;
  height: 40vh;
  max-height: 100px;
  background: rgba(197, 233, 252, 0.7);
  animation: 4s tide ease-in infinite;
}
/* Bottom tile styling */
.sign::before {
  display: block;
  content: "";
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 30vh;
  max-height: 170px;
  background-color: #fde9e4;
  background-image: linear-gradient(var(--spritwoch-red) 5px, transparent 5px),
    linear-gradient(to right, var(--spritwoch-red) 5px, var(--spritwoch-red-light) 5px);
  background-size: 80px 30px;
}

@keyframes tide {
  0% {
    bottom: -5px;
    transform: rotate(0.5deg);
  }
  25% {
    bottom: -10px;
  }
  50% {
    bottom: 0;
    transform: rotate(-0.5deg);
  }
  75% {
    bottom: -10px;
  }
  100% {
    bottom: -5px;
    transform: rotate(0.5deg);
  }
}

/* Grid Definition */
@media screen and (min-width: 769px) {
    .grid-container {
        display: grid;
        grid-template:
            'splitflap splitflap splitflap'
            'desktop-logo-left pool-sign desktop-logo-right'
            'footer footer footer' auto;
        gap: 6vh;
    }
}
    
@media screen and (max-width: 768px) {
    .grid-container {
        display: grid;
        grid-template:
            'mobile-logo'
            'splitflap'
            'pool-sign'
            'footer' auto;
        gap: 2.5vh;
    }
}
    
.footer {
    grid-area: footer;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-top: 5vh;
    margin-bottom: 5vh;
    height: auto;
    z-index: 1;
}
.footer p {
    margin-left: auto;
    margin-right: auto;
}
.grid-container {
    padding-top: 6vh;
    height: 100vh;
}
