<!-- https://www.youtube.com/watch?v=8ARBlCdq94k -->
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{{ "/assets/css/styles.css" | relative_url }}">
</head>
<body>
  <div class="grid-container">
    <div id="top-sign" class="spritwoch-sign mobile style="grid-area: mobile-logo">
      <img src="{{ "/assets/image/SPRITWOCH_LOGO_horizontal.png" | relative_url }}" alt="Spritwoch Logo" style="object-fit: contain;">
    </div>
    <div class="countdown-container" style="grid-area: splitflap;">
      <div id="wrap" class="wrap">
        <div class="inner-shadow"></div>
      </div>
    </div>

    <div id="left-sign" class="desktop spritwoch-sign" style="grid-area: desktop-logo-left;">
      <img src="{{ "/assets/image/SPRITWOCH_LOGO_v2_no_bg.png" | relative_url }}" alt="Spritwoch Logo" style="object-fit: contain;">
    </div>

    <div class="sign" style="grid-area: pool-sign;">
      <h1>Pool Rules</h1>
      <ol>
        <li>Food, Drinks and everything allowed</li>
        <li>No Running</li>
        <li>No Diving</li>
      </ol>
      <h2>No Lifeguard On Duty</h2>
      <h3>Swim at your own risk</h3>
    </div>
    <div id="right-sign" class="spritwoch-sign desktop" style="grid-area: desktop-logo-right;">
      <img src="{{ "/assets/image/SPRITWOCH_LOGO_v2_no_bg.png" | relative_url }}" alt="Spritwoch Logo" style="object-fit: contain;">
    </div>

  </div>
  
    <div class="sign-container">

    </div>
  </div>
  <script>
    const targetDateString = '{{ page.target_date | date: "%Y-%m-%dT%H:%M:%S" | default: "2023-04-29T17:01:00" }}';
  </script>
  <script src="{{ "/assets/js/splitflap.js" | relative_url }}"></script>
</body>
